<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ShopperStack Test Suite" parallel="methods" thread-count="1">

    <listeners>
        <listener class-name="api.listeners.TestListener"/>
    </listeners>

    <test name="API Tests">

        <classes>
            <class name="api.testcases.Admintestcases"/>
            <class name="api.testcases.MerchantTestcases"/>
            <class name="api.testcases.ProductTestcases"/>
            <class name="api.testcases.ShopperTestcases"/>
            <class name="api.testcases.OrderTestcases"/>
            <class name="api.testcases.ReviewTestcases"/>
        </classes>

    </test>

</suite>